@import "compass";
@import "compass/layout";
@import "normalize";
@import "typography";
@import "mixins";


@font-face {
			font-family: Plantin;
			src: url("../css/webfont//plantin-1361529374.ttf") format("truetype");
			}
@font-face {
		font-family: Elementa;
		src: url('../css/webfont/ufonts.com_elementa-bold.ttf') format('truetype')
}

.plantin{
		font-family: Plantin;
		font-size: 27px;
}

.elementa{
		font-family: Elementa;
		font-size: 20px;
}

body {
	@extend .plantin;
}
 
#container {
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	@include calc(width,'100%-50px');
	width: 100%;
	padding-bottom: 0;
	background: #ffff66; /* Old browsers */
	background: -moz-linear-gradient(#ffff66,#0033cc); /* FF3.6-15 */
	background: -webkit-linear-gradient(#ffff66,#0033cc); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(#ffff66,#0033cc); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff66', endColorstr='#0033cc',GradientType=0 ); /* IE6-9 */
}

#content {
	background: white;
	margin: 20px;
	background: #ffeee7;
	min-height: 5300px;
}


#main {
	-webkit-animation: fadein 1s; /* Safari and Chrome */
	-moz-animation: fadein 1s; /* Firefox */
	-ms-animation: fadein 1s; /* Internet Explorer */
	-o-animation: fadein 1s; /* Opera */
	animation: fadein 1s;
}

@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}
@-moz-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}
@-webkit-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}
@-ms-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}
@-o-keyframes fadein {
	from { opacity: 0; }
	to { opacity: 1; }
}

// sticky footer mixin; see: http://compass-style.org/reference/compass/layout/sticky_footer/
// $footerHeight:100px;
// @include sticky-footer($footerHeight);

// Remove image link borders (if relevant)
a[href$=jpg], a[href$=jpeg], a[href$=jpe], a[href$=png], a[href$=gif] {
	text-decoration: none;
	border: 0 none;
}

.nav {
	height: 2em;
	padding: 10px;
	color: #0033cc;
	a {
		padding: 0 10px;
	}
}

.left {
	float: left;
}
.right{
	float: right;
}

.ascii {
	@extend .elementa;
	color: black;
	text-decoration: none;
	text-align: center;
	width: 100%;
	&.section {
		text-align: center;
		padding: 40px;
		margin-bottom: 20px;
	}
	&.right {
		text-align: none;
	}
	//make up for lack of centering for ascii art
	pre {
		margin: 0 2.3em 0 0;
	}
	span {
		color: #c13a1c;
	}
}
.typewriter {

}
