@import "compass";
@import "compass/layout";
@import "compass/css3/user-interface";
@import "normalize";
@import "typography";
@import "mixins";


@font-face {
			font-family: Plantin;
			src: url("../css/webfont/plantin.ttf") format("truetype");
			}
@font-face {
		font-family: Elementa;
		src: url('../css/webfont/ufonts.com_elementa-bold.ttf') format('truetype')
}
@font-face {
		font-family: Elementa-Bold;
		src: url('../css/webfont/ufonts.com_elementa-bold.ttf') format('truetype')
}

$blue: #0033cc;

.plantin{
		font-family: Plantin;
		font-size: 27px;
}

.elementa{
		font-family: Elementa;
		font-size: 20px;
}

.ascii-border {
	z-index: 10;
	@extend .elementa;
	color: #c13a1c;
	@include border-ascii(url(../images/border-newer.png), 47 , 14px, round);
	background: #ffff66;
	//@include calc(margin-left, '50% - 208px');
	border-image-outset: 6px;

	&:focus {
		outline:none;
	}
}

body {
	@extend .plantin;
}

#container {
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	@include calc(width,'100%-50px');
	width: 100%;
	padding-bottom: 0;
	background: #ffff66; /* Old browsers */
	background: -moz-linear-gradient(#ffff66,$blue); /* FF3.6-15 */
	background: -webkit-linear-gradient(#ffff66,$blue); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(#ffff66,$blue); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff66', endColorstr='$blue',GradientType=0 ); /* IE6-9 */
}

#content {
	background: white;
	margin: 20px;
	background: #ffeee7;
	min-height: 5300px;
}
label {
		display: table-cell;
		color: $blue;
		font-weight: bold;
		border-bottom: solid $blue 2px;
		&.clicked {
			border-bottom: solid black 2px;
		}
}
.input {
	@extend .elementa;
	color: black;
	width: auto;
	border: none;
	border-bottom: solid $blue 2px;
	width: 100%;
	background: #ffeee7;
	@include input-placeholder {
		color: black;
	}
	&:focus {

		outline: none;
		color: black;
		border-bottom: solid black 2px;
	}
}

#main {
	-webkit-animation: fadein 1s; /* Safari and Chrome */
	-moz-animation: fadein 1s; /* Firefox */
	-ms-animation: fadein 1s; /* Internet Explorer */
	-o-animation: fadein 1s; /* Opera */
	animation: fadein 1s;
}

@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}
@-moz-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}
@-webkit-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}
@-ms-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}
@-o-keyframes fadein {
	from { opacity: 0; }
	to { opacity: 1; }
}



// sticky footer mixin; see: http://compass-style.org/reference/compass/layout/sticky_footer/
// $footerHeight:100px;
// @include sticky-footer($footerHeight);

// Remove image link borders (if relevant)
a[href$=jpg], a[href$=jpeg], a[href$=jpe], a[href$=png], a[href$=gif] {
	text-decoration: none;
	border: 0 none;
}

.nav {
	height: 2em;
	padding: 10px;
	color: $blue;
	line-height: 1.8em;
	a {
		padding: 0 10px;
	}
}

.left {
	float: left;
}
.right{
	float: right;
	&.elementa {
		color: black;
		text-decoration: none;
		line-height: 47px;
	}
}


.section {
	margin: 0 auto;
	//padding: 40px 0;
	//margin-bottom: 20px;
	//buy form
//padding-top: 4em;
//padding-bottom: 4.5em;
 .bar {
	 padding-top: 4em;
	 padding-bottom: 3.6em;
 }
	#wpcf7-f25-p7-o1{
		max-width: 67%;
	  margin: 0 auto;
	.pricing-fields {

		display: flex;
		flex-direction: column;
		max-height: 570px;
		flex-wrap: wrap;
		//align-items: center;
		p{
			max-width: 360px;
			line-height: 0.8em;
			text-align: left;
			margin: 1.5em 0;
			margin-right: 150px;
			.wpcf7-list-item:last-child {

			}
		}
	}
	}

	p {
		max-width: 67%;
		text-align: left;
		color: $blue;
		margin: 0 auto;
		@extend .plantin;
			line-height: 1.4em;
	}

	&.questionnaire, #wpcf7-f25-p7-o1 {
		max-width: 67%;

		textarea {
    background-image: -webkit-linear-gradient(#ffeee7, #ffeee7 47px, $blue 47px, $blue 49px, #ffeee7 49px);
    background-image: -moz-linear-gradient(#ffeee7, #ffeee7 47px, $blue 47px, $blue 49px, #ffeee7 49px);
    background-image: -ms-linear-gradient(#ffeee7, #ffeee7 47px, $blue 47px, $blue 49px, #ffeee7 49px);
    background-image: -o-linear-gradient(#ffeee7, #ffeee7 47px, $blue 47px, $blue 49px, #ffeee7 49px);
    background-image: linear-gradient(#ffeee7, #ffeee7 47px, $blue 47px, $blue 49px, #ffeee7 49px);
		width: 100%;
    background-size: 100% 61px;
		max-height: 200px;
    line-height: 61px;

		outline: none;
		border: none;
		@extend .elementa;
		&:focus {
			outline: none;
		}
		}
		.btn {
			text-align: center;
			margin: 20px 0px;
		}
		.info {
			color: $blue;
			display: inline-block;
			margin: 1em 0;
		}
		p {
			color: $blue;
			font-weight: bold;
			max-width: none;
			margin: 0;
		}
		form {
			div {
			}
			& > p{
				color: $blue;
			}
			.txt_input{
				@extend .input;
				display: inline;
				input {
					vertical-align: middle;
				}
			}
		}
		.input_inner {
    display: table;
    width: 100%;
		.input_content, .input_contents {
			display: inherit;
			width: 100%;
			&.area label {
				display: block;
				border-bottom: none;
				padding-bottom: 1em;
				line-height: 1em;
			}
		}
		}
		.input_outer {
    	overflow: hidden;
    	left: 20px;
			margin: 15px 0;
		}
		.button_box {
			width: 100%;
    	text-align: center;
			display: inline-block;
			height: auto;//175px;

		}
		.wpcf7-form-control-wrap {
		    //display: table-cell;
		    width: 100%;

		}
		.post-password-form {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: $blue;
			text-align: center;
			#pword-box {
				margin-top: 230px;
				display: flex;
				justify-content: center;
				//henry

				input {
					@extend .ascii-border;
					padding: 10px 20px;
				}
			}
			.pword-ok {
				margin:30px;
			}
			.pword-back {
				    float: left;
						margin:	30px;
						color: #ffff66;
						text-decoration: none;
						span {
							@extend .elementa;
							color:	black;
							border-bottom: none;
						}
						div{
							display: inline-block;
							border-bottom: solid 1px #ffff66;
						}
			}
			p{
					color: white;
					display:none;
			}
		}
		.wpcf7-checkbox {
			display: flex;
	    flex-direction: column;
	    flex-wrap: wrap;

	    max-height: 230px;
	    justify-content: space-between;
	    align-items: baseline;
			.wpcf7-list-item {
			margin-left: 0px;
			label {
				font-weight: normal;
				border: none;
				padding: 5px 0px;
				.chbox {
					@extend .elementa;
					color: black;
					span {
						color: red;
					}
				}
			}
			input {
				background: #ffeee7;
				font-weight: normal;
				//visibility: hidden;
			}
			}
		}
		//old <div class='button_box'>[submit "Upload Images"]<div class='submit_bg'></div><div class='input_submit'></div></div>
		.input_submit {
			//./images/border-across.png
			//../images/border-vertical.png
			position: absolute;
			height: 80px;
			width: 250px;
			display: inline-block;
		}
		.ajax-loader {
			display: none;
		}

	.wpcf7-submit {
		margin: 0px;
	}
	.submit_bg {
		height: 98px;
		width: 263px;
		@extend .elementa;
		color: #c13a1c;
		background: #ffff66;
		border: none;
		position: absolute;
		margin: 5px;
		display: inline;
	}
	}
}

.wpcf7-submit, .img_input, .paypal-submit{

	z-index: 10;
	@extend .elementa;
	color: #c13a1c;
	@include border-ascii(url(../images/border-newer.png), 47 , 14px, round);
	background: #ffff66;
	//@include calc(margin-left, '50% - 208px');
	padding: 39px 62px;
	border-image-outset: 6px;
	max-width: 270px;
	&:focus {
		outline:none;
	}
& >	input {
		background: #ffff66;
	}
	input {
		width: 280px;
		margin: 17px 0px;
		display: flex;
		&:focus {
			outline:none;
		}
	}
}

#coupon-label {
	border-bottom: none;
	    padding-bottom: 3em;
			input {
				background: #ffeee7;
				border: none;
				border-bottom: $blue solid 2px;
				&:focus {
					outline: none;
				}
			}
}

.ascii {
	@extend .elementa;
	color: black;
	text-decoration: none;
	text-align: center;
	width: 100%;
// 	margin: 0 7em 0 0;
// 	margin-top: 2em;
// margin-bottom: 2.2em;

	&.right {
		text-align: none;
		color: black;
		text-decoration: none;
	}
	//make up for lack of centering for  art
	pre {
		padding-right: 7em;
	}
	.asciiTitle {
		color: #c13a1c;
	}
	div {
		.preBar, .postBar {
			@media (max-width: 1161px){
				display: none;
			}
		}
	}
}
.typewriter {
	p {
		margin:0;
	}
}
.thankyou {
	margin-top: 3em;
	pre {
		display: inline-block;
		text-align: right;
	}
		.ty-1{

		}
		.ty-2{

		}
		.ty-3{
			&:after {
					//content: "aaaa";
				color: #ffeee7;
			}
		}
		.ty-4{

		}
		.ty-5{

		}
		.ty-6{
			&:after {
				content: "aaaaaaaaaaaaa";
				color: #ffeee7;
			}
		}
		.ty-7 {
			&:after {
				content: "aaaaaaaaaaaaa";
				color: #ffeee7;
			}
		}
}
